footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    padding: 1em 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    z-index: 99998;
    box-shadow: 0 1px 1em rgba(0,0,0,0.2);

    span {
        color: #f4645a;
    }
}